<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>Change Password Form</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
    href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
    media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet"
    href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="../../../resources/css/adminTopPage.css" rel="stylesheet" />
<link href="../../../resources/css/font-awesome.min.css"
    rel="stylesheet" />
<link href="../../../resources/css/font-awesome.css" rel="stylesheet" />
<script>
	$(function() {
		$("#dialog-message").dialog({
			modal : true,
			buttons : {
				Ok : function() {
					$(this).dialog("close");
				}
			}
		});
	});
</script>
</head>
<body>
    <div th:include="fragments/header">...</div>
    <span th:if="${error}">
        <span id="dialog-message" title="Error">
            <p>
                <img
                    th:src="@{https://1.bp.blogspot.com/-D02tSQTZfIY/WFLDLYAAmqI/AAAAAAAA4o4/7EQcMtACxU0YABcLc0QzhLXkaoSh1IsMQCPcBGAYYCw/s1600/warning_sign.png}"
                    width="60" height="60" align="middle" /> <span th:text="${error}"> </span>
            </p>
        </span>
    </span>
    
    <form action="#" th:action="@{/admin/change_password}"
        th:object="${changepasswordform}" method="post">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="col-sm-6">
                    <h3>
                        <b>Change Password </b>
                    </h3>
                </div>
            </div>
            <br />
            <br />
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <label class="control-label col-sm-3">
                    Old password:
                    <font color="red">*</font>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key fa-fw"></i>
                        </span>
                        <input type="password" class="form-control"
                            th:field="*{loginPassword}"
                            placeholder="Old password"
                            required="required" />
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <label class="control-label col-sm-3">
                    New password:
                    <font color="red">*</font>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key fa-fw"></i>
                        </span>
                        <input type="password" class="form-control"
                            th:field="*{newPassword}"
                            placeholder="New password"
                            required="required" />
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <label class="control-label col-sm-3">
                    Confirm new password:
                    <font color="red">*</font>
                </label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key fa-fw"></i>
                        </span>
                        <input type="password" class="form-control"
                            th:field="*{confirmPassword}"
                            placeholder="Confirm new password"
                            required="required" />
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-warning">Save</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>